fieldset{
	margin: 5% 5%;
	border-radius:10px;
}


h1{
	font-family:calibri;		
}

h4{
	font-family:calibri;	
}


input[type=text] {
	width:100%;
   	padding:10px;
	font-family:calibri;	
	border-radius:10px;
	border:solid #d5e1df;
	
	
}


#add{
	width:90%;
	padding:10px;
	margin:4% 5%;
	background-color:#bdcebe;
	border-radius:10px;
	border-color:#bdcebe;
	font-family:calibri;
	font-size:20;
}

#tab{
	width:80%;
   	padding:10px 10px;
	margin:auto;
	font-family:calibri;	
	border-radius:10px;
	border:solid #d5e1df;
	
}

#box{

	background-color:lightgreen;
	font-family:calibri;
	width:10%;
	border-radius:10px;
	text-align:center;
}

#boxDelete{

	background-color:#CD5C5C;
	font-family:calibri;
	width:10%;
	border-radius:10px;
	text-align:center;

}

.close{
	border:none;
	background-color: #ffffff;
	color:#bdcebe;
	font-weight: bolder;
	font-size:16px;
	cursor: pointer;
		
}

.close:hover{
	color:LightSeaGreen;
}

th{
	text-align:left;
}
	



